In [1]:
import pandas as pd
import numpy as np

In [2]:
data_text=pd.read_csv('hackathon_data/avk_hackathon_data_story_texts.csv')

In [3]:
clients=pd.read_csv('hackathon_data/avk_hackathon_data_story_logs.csv')

In [4]:
data_text

,story_id,name,story_text
0,794,Профессия: свадебный организатор,"["""",""Как стать свадебным организатором"",""Это Л..."
1,821,Бизнес: магазин электроники,"["""",""Как открыть интернет-магазин электроники""..."
2,824,Как у них: Сингапур,"["""",""Жизнь в Сингапуре"",""Это Славина. Вместе с..."
3,839,Студии йоги,"["""",""Студии йоги"",""7 московских студий, где мо..."
4,848,Как получать больше кэшбэка,"["""",""Как получать больше кэшбэка"",""Подключите ..."
...,...,...,...
1626,732,Лайфхак по инвестициям,"["""",""Лайфхак в Тинькофф Инвестициях"",""Как не п..."
1627,733,Лайфхак инвестиций,"["""",""Лайфхак в Тинькофф Инвестициях"",""Как не п..."
1628,741,Ошибка в реквизитах,"["""",""Как вернуть деньги при ошибке в реквизита..."
1629,746,Как у них: Барселона,"["""",""Жизнь в Барселоне"",""Это Ольга. Шесть лет ..."
1630,774,Что купить у The Ordinary,"["""",""7 лучших продуктов The Ordinary"",""Канадск..."

In [5]:
clients.shape

(13820, 5)

In [11]:
clients.head()

   party_rk            date_time  story_id  category event
0     64266  2019-12-01 13:05:31      3840        39  like
1     55721  2019-12-01 13:18:08      3857        39  like
2     27563  2019-12-01 13:25:40      3174        78  like
3     61223  2019-12-01 13:25:20      3857        39  like
4     61223  2019-12-01 13:29:05      3765        73  like

# Food/Restaurants

Category food
1) Write Into list of stories ids that are connected to food
food_storis 
2) For client if he lliked or favour it mark as [references a]

In [13]:
mark_food=mask=data_text.name.str.contains('Где есть')
mark_food=mark_food|data_text.name.str.contains('Где пить')
mark_food=mark_food|data_text.name.str.contains('ресторан')
mark_food=mark_food|data_text.name.str.contains('кафе')

In [14]:
food_story_id=data_text.loc[mark_food.fillna(False),'story_id']
food_story_id

44      1166
102     1445
171     1656
372     2130
399     2181
408     2195
409     2196
450     2268
474     2314
523     2388
526     2392
554     2432
555     2433
614     2562
641     2599
647     2608
648     2609
663     2632
684     2665
718     2726
719     2728
810     2861
816     2867
852     2922
910     3024
944     3081
983     3138
1003    3177
1027    3212
1052    3254
1053    3255
1086    3313
1117    3364
1199    3488
1222    3522
1233    3546
1278    3609
1391    3794
1445    3879
1548    4035
1553    4045
Name: story_id, dtype: int64

In [19]:
clients.loc[clients.story_id.isin(food_story_id).fillna(False),'event'].unique()

array(['favorite', 'like', 'dislike'], dtype=object)

In [36]:
like_food=clients.story_id.isin(food_story_id).fillna(False)&clients.event.isin(['like','favorite']).fillna(False)
client_to_recommend_food=clients.loc[like_food,'party_rk']
clients['food recommendation']=0
clients.loc[like_food,'food recommendation']=1

In [37]:
clients

,party_rk,date_time,story_id,category,event,food recommendation
0,64266,2019-12-01 13:05:31,3840,39,like,0
1,55721,2019-12-01 13:18:08,3857,39,like,0
2,27563,2019-12-01 13:25:40,3174,78,like,0
3,61223,2019-12-01 13:25:20,3857,39,like,0
4,61223,2019-12-01 13:29:05,3765,73,like,0
...,...,...,...,...,...,...
13815,19043,2019-12-31 22:52:40,4117,71,like,0
13816,19043,2019-12-31 22:53:13,4120,39,like,0
13817,10195,2019-12-31 23:32:50,4117,71,favorite,0
13818,10195,2019-12-31 23:33:32,4120,39,like,0
13819,10195,2019-12-31 23:32:43,4117,71,like,0

# Travel recommendation based on stories

Travel  destination extraction and interest in traveling

In [43]:
mark_travel=data_text.name.str.contains('Как у них')

mark_travel=mark_travel|data_text.name.str.lower().str.contains('путешестви')

travel_story_id=data_text.loc[mark_travel.fillna(False),'story_id']

travel_story_id

2        824
6        872
10       922
13       968
33      1106
40      1135
49      1187
57      1217
68      1281
74      1319
80      1346
155     1611
176     1689
185     1710
191     1736
195     1757
203     1788
269     1961
306     2011
325     2047
326     2049
361     2112
381     2148
439     2249
478     2319
539     2409
570     2468
671     2648
765     2799
822     2876
862     2938
868     2945
890     2981
925     3044
951     3096
1013    3194
1357     297
1587     420
1605     589
1614     622
1617     668
1623     711
1625     731
1629     746
Name: story_id, dtype: int64

In [45]:
like_travel=clients.story_id.isin(travel_story_id).fillna(False)
like_travel=like_travel&clients.event.isin(['like','favorite']).fillna(False)

client_to_recommend_travel=clients.loc[like_travel,'party_rk']

clients['like travelling']=0
clients.loc[like_travel,'like travelling']=1

In [46]:
clients['like travelling'].value_counts()

0    13592
1      228
Name: like travelling, dtype: int64

In [53]:
mark_travel=data_text.name.str.contains('Как у них')

travel_destinations=data_text[mark_travel.fillna(False)].name.str[len('Как у них:'):].str.strip()

2             Сингапур
6              Тайвань
10              Монако
13              Турция
33               Катар
40               Ливан
57          Калифорния
68             Таиланд
74               Париж
80          Нидерланды
155           Нью-Йорк
176          Шотландия
185          Австралия
191             Египет
195          Филиппины
203             Япония
269             Греция
306            Гонконг
326               Перу
361             Грузия
381         Нидерланды
439             Берлин
478              Самуи
539     Новая Зеландия
570           Танзания
671               Иран
765           Дагестан
822             Лондон
862           Исландия
925           Лиссабон
951              Хайфа
1013           Бельгия
1357        Шпицберген
1587           Франция
1605             Дубай
1614          Алма-Ата
1617              Сеул
1623        Нью-Джерси
1629         Барселона
Name: name, dtype: object

In [83]:
data_text[mask_data_text_story.fillna(False)].name.str[len('Как у них:'):].values[0].strip()

'Барселона'

In [86]:
clients['recommend_destination']=None
kak_u_nih=data_text.name.str.contains('Как у них')
for story_id in data_text.loc[kak_u_nih.fillna(False),'story_id']:
    mask_story=clients['story_id']==story_id
    mask_data_text_story=data_text['story_id']==story_id
    country=data_text[mask_data_text_story.fillna(False)].name.str[len('Как у них:'):].values[0].strip()
    clients.loc[mask_story,'recommend_destination']=country
    print(country)

Сингапур
Тайвань
Монако
Турция
Катар
Ливан
Калифорния
Таиланд
Париж
Нидерланды
Нью-Йорк
Шотландия
Австралия
Египет
Филиппины
Япония
Греция
Гонконг
Перу
Грузия
Нидерланды
Берлин
Самуи
Новая Зеландия
Танзания
Иран
Дагестан
Лондон
Исландия
Лиссабон
Хайфа
Бельгия
Шпицберген
Франция
Дубай
Алма-Ата
Сеул
Нью-Джерси
Барселона

In [87]:
clients.recommend_destination.unique()

array([None, 'Самуи', 'Танзания', 'Новая Зеландия', 'Лиссабон', 'Берлин',
       'Франция', 'Исландия', 'Бельгия', 'Иран', 'Лондон', 'Нью-Йорк',
       'Нидерланды', 'Грузия', 'Гонконг', 'Сеул', 'Греция', 'Япония',
       'Дагестан', 'Перу', 'Филиппины', 'Катар', 'Барселона', 'Монако',
       'Алма-Ата', 'Шотландия', 'Ливан', 'Хайфа', 'Австралия', 'Таиланд',
       'Египет', 'Сингапур', 'Дубай', 'Париж', 'Шпицберген', 'Нью-Джерси',
       'Калифорния', 'Турция', 'Тайвань'], dtype=object)

In [88]:
clients

,party_rk,date_time,story_id,category,event,food recommendation,like travelling,recommend_destination
0,64266,2019-12-01 13:05:31,3840,39,like,0,0,None
1,55721,2019-12-01 13:18:08,3857,39,like,0,0,None
2,27563,2019-12-01 13:25:40,3174,78,like,0,0,None
3,61223,2019-12-01 13:25:20,3857,39,like,0,0,None
4,61223,2019-12-01 13:29:05,3765,73,like,0,0,None
...,...,...,...,...,...,...,...,...
13815,19043,2019-12-31 22:52:40,4117,71,like,0,0,None
13816,19043,2019-12-31 22:53:13,4120,39,like,0,0,None
13817,10195,2019-12-31 23:32:50,4117,71,favorite,0,0,None
13818,10195,2019-12-31 23:33:32,4120,39,like,0,0,None
13819,10195,2019-12-31 23:32:43,4117,71,like,0,0,None

# Investment
identify clients interested in investment in shares

In [90]:
mark_invest=data_text.name.str.lower().str.contains('инвест')
mark_invest=mark_invest|data_text.name.str.lower().str.contains('акции')
mark_invest=mark_invest|data_text.name.str.contains('финансах')
mark_invest=mark_invest|data_text.name.str.contains('вложит')

In [91]:
invest_story_id=data_text.loc[mark_invest.fillna(False),'story_id']
invest_story_id

75      1320
83      1368
207     1808
209     1817
219     1868
220     1874
390     2170
530     2397
535     2404
753     2778
754     2779
755     2780
777     2816
905     3019
930     3053
934     3063
961     3114
964     3117
969     3122
993     3161
1024     244
1034    3224
1047    3247
1058    3263
1066    3276
1067    3277
1069    3279
1085    3310
1110    3353
1139    3390
1142    3395
1147    3403
1154    3410
1155    3411
1187    3472
1188    3473
1191    3476
1223    3523
1256    3576
1285    3616
1310    3660
1317    3672
1329    3697
1347    3731
1365    3756
1377    3773
1401    3813
1437    3865
1476    3923
1488    3939
1559    4072
1626     732
1627     733
Name: story_id, dtype: int64

In [92]:
investment_interest=clients.story_id.isin(invest_story_id).fillna(False)
investment_interest=investment_interest&clients.event.isin(['like','favorite']).fillna(False)

client_to_recommend_invest_prods=clients.loc[investment_interest,'party_rk']

clients['investment interest']=0
clients.loc[investment_interest,'investment interest']=1

In [94]:
clients['investment interest'].value_counts()

0    13412
1      408
Name: investment interest, dtype: int64

# Save results:
Updated table of avk_hackathon_data_story_logs with recomendation table

In [95]:
clients.to_csv('recommendation_on_stories.csv')